//
// @file
// Form component.
//
// Ideally we would be sticking to .form-item, .form-item-label and
// .form-item-description, but we need to make some allowances for drupal's
// default markup.
// ----------------------------------------------------------------------------


.form-item,
.form-actions {
  margin: 0 0 rhythm(5) 0;
}

.form-item-description {
  @include adjust-font-size-to($fs-xs);
  font-family: $ff-sans;
}

.webform-component-textfield,
.webform-component-textarea {
  max-width: 600px;
}

// FIELDSETS
.fieldset-legend {
  font-family: $ff-sans;
  font-weight: bold;
}

.fieldset-description {
  @include adjust-font-size-to($fs-s);
  margin-bottom: rhythm(4, $fs-s);
  font-family: $ff-sans;
}


// AUTOCOMPLETE
// Adjust the background position to account for the larger input size.
html.js input.form-autocomplete {
  background-position: 100% 6px;

  &.throbbing {
    background-position: 100% -14px;
  }
}

// INPUT

.form-type-textfield {
  input {
    @include box-sizing(border-box);
  }
}

// CHECKBOXES & RADIOS
// Since these are groups of related form-items, we reduce the spacing a bit.
.form-type-checkboxes .form-type-checkbox,
.form-type-radios .form-type-radio {
  margin: rhythm(1) 0;
}

// SELECT
.form-select {
  max-width: 95%;
}


// ERRORS
input.error,
textarea.error,
select.error {
  border: 2px solid red;
}


// MACHINE NAMES
.machine-name-label {
  font-family: $ff-sans;
  font-weight: bold;
}

.machine-name-value {
  font-family: $ff-mono;
  margin: 0 .5em;
}


// REQUIRED
.form-required,
.marker {
  color: $clr-error;
  font-weight: bold;
}


// VERTICAL TABS
// These are based on the FAPI vertical tab markup which is different than the
//  nav component.
// @todo See if consolidating these is feasible.
// @todo Consolidate these styles with core's vertical-tabs.css
.vertical-tab-button {
  position: relative;
  font-family: $ff-sans;
}

// Setting the active tab by id assumes only one set of vertical tabs per page.
// @todo Change #active-vertical-tab to .active-vertical-tab
#active-vertical-tab {
  // Removes the ackward box outline on :focus
  top: 0;
}
